# Condor files.
*.submit*.*
*.dag*.*
# *.submit
# *.dag
*.err
*.log
*.out
*.lib
deepmedic
# Matlab data files
*.mat
*.asv
.idea
.*.m
# Some CSV files
*DIPA.csv
Weights*.csv
Landmarks*.csv
CSVs
*.bak*
# Mathematica CDF files
*.cdf
.DS_Store
._.DS_Store
# Executables
*.exe*
*.mex*
*.p

# Nifti/image files.
*.nii
*.nii.gz
*.mha
*.mif

# Tmp files.
*.*~

# Tar files.
*.tar

# cfg
*.cfg

# Images/figures
*.png
*.jpg
*.tif*
*.fig*

# ppt files
*.ppt*

# Folders
DIPA
Figures
PosterFigures
FinalResults
RNLLMM
figs
Atlases
CSVs
# jar files
*.jar*
